{% extends 'base.jinja' %}
{% from 'trucks/macros.jinja' import company_list_item %}

{% block header_title %}Trucks{% endblock %}

{% block content scoped %}
    {% if companies %}
        <ul data-role="listview" {% block list_attr %}data-filter="true"{% endblock %}>
            {% for company in companies %}
                {{ company_list_item(company, show_open_override) }}
            {% endfor %}
        </ul>
    {% else %}
        {% block list_no_companies %}
            <h2>No Trucks found :(</h2>        
        {% endblock %}
    {% endif %}
{% endblock %}